.card {
  display: flex !important;
  flex-direction: row !important;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  margin: 8px;
  max-width: 360px;
}
.card-list {
  justify-content: center;
  gap: 12px;
}
.card-img img {
  width: 100%;
  height: auto;
}
.card-content {
  flex: 2;
  padding-left: 16px;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
  }
  .card-content {
    padding-top: 16px;
  }
}

.date {
  font-size: 0.875rem;
  color: rgb(245, 75, 66);
}
