.card {
  width: 200px;
  height: 100%;
  margin: 10px;
  padding: 10px;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card-content .read-more {
  align-self: center;
  margin-top: auto;
  width: 50%;
}
.card-img img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 40em) {
  /* Small screen - One column */
  .card-container {
    flex-direction: row;
  }
  .card {
    flex: unset;
    width: calc(100% - 20px);
  }
}
@media screen and (min-width: 40.01em) and (max-width: 59.99em) {
  /* Medium Screens - Three Columns */
  .card {
    flex: 0 1 calc(33.33% - 20px); /* Calculate width for 3 columns */
  }
}

@media screen and (min-width: 60em) {
  /* Large Screens - Four Columns */
  .card {
    flex: 0 1 calc(25% - 20px); /* Calculate width for 4 columns */
  }
}

.date {
  font-size: 0.875rem;
  color: rgb(245, 75, 66);
}
